#1. 논리연산

* 여러분들께서 휴면고객에 대해서 데이터를 받아서 가망고객

휴면고객 100,000명(DB) ->
1차. 20~40먼저 거르면 -> 4만명(-6만명) ->
2차. 10만원 이하를 사용한 고객 거르면 -> 2만명(-2만명)
3차. 3번이하로 구매한 고객 -> 1만명(-1만명)
----> 1만명에 대해서만

In [ ]:
# 예시

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일수 있다.

result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [ ]:
# 퀴즈 1
True and False # and는 두가지 조건 모두 True여야만 True 출력한다.

False

In [ ]:
# 퀴즈 2
False or True # or은 둘중에 한가지 조건만 True여도 True를 출력한다.

True

In [ ]:
# 퀴즈 4
0 and 1

0

In [ ]:
print(0 and 1)

0

In [ ]:
bool(0 and 1) #은 False를 반환하는 군요..

False

#2. 할당연산자

In [ ]:
x = 5
y = 2
z = 10

x1 = y * z # 20 = 2 * 10
x2 = x + (y * z) # 25 = 5 + (2*10)
x += y * z  # y * z 연산 후 x에 값을 더한 뒤에 할당합니다.

print(x1)
print(x2)
print(x)  # 결과: 25

20
25
25

In [ ]:
x += y * z
print(x)

45

In [ ]:
x = 5
y = 2
x //= y
print(x)

2

In [ ]:
x = 5
y = 2
x /= y
print(x)

2.5

In [ ]:
 a = 2
 a **= 3
 print(a)

8

#3. 식별연산

In [ ]:
# 1. 동일 인물 확인

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [ ]:
print(id(coffee_employee))
print(id(orange_employee))

139682981805744
139682981805744

In [ ]:
# 2. -5 ~ 256 같은 주소를 바라고 있지만 그 범위 이하 이상일때는 주소가 달라진다.

coffee_employee = 0
orange_employee = 0

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [ ]:
coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

In [ ]:
coffee_employee = 1000
orange_employee = 1000

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

In [ ]:
#2. 예시 2

a = [1, 2, 3] #리스트 형인 [1,2,3]
b = [1, 2, 3] #리스트 형인 [1,2,3]
c = a #리스트 형인 [1,2,3] 다만 a에 있는 것을 재할당!

In [ ]:
print(a,b,c)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [ ]:
print('a == b', a == b)

a == b True

In [ ]:
print('a == c', a == c)

a == c True

In [ ]:
print('b == c', b == c)

b == c True

In [ ]:
print('a is b', a is b)

a is b False

In [ ]:
print('a is c', a is c)

a is c True

In [ ]:
print('b is c', b is c)

b is c False

In [ ]:
print(id(a),id(b),id(c))

139682619543232 139682619687808 139682619543232

#4. 맴버연산

In [33]:
# 기본 예시
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True

True

In [34]:
print(0 not in a) # 출력: True

True

In [37]:
print([2] in b) # 출력: False

False

In [42]:
# 자료형태를 잘 파악하셔서 In을 사용하셔야 된다.
a_1 = [[1,2], 3, 4]
#리스트 안에 있는 값은 정수형 1, 3 ,4 / 리스트형 [2]

In [40]:
print([2] in a_1) # 출력: False

True

In [43]:
print([1, 2] in a_1) # 출력: False

True

In [45]:
print('h' in c) # 출력: True
print('hello  ' in c) # 출력: True

True
False

# 5.연산자 순서

In [46]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [47]:
(-2) ** 2 # 출력: -4, -(2 ** 2)

4

In [48]:
True * True and True + False

1

In [49]:
(True * True) and (True + False)

1

In [50]:
a = 10
a *= 10 + 100
a # 출력: 1100

1100

In [52]:
# 퀴즈

fruits = ["사과", "바나나", "포도"]
print("체리" not in fruits)

True

In [53]:
greeting = "안녕하세요"
print("안녕" in greeting)

True

In [54]:
result = 2 + 3 * 4
print(result)

14

In [55]:
result = 10 / 2 * 4 - 3
print(result)

17.0

In [58]:
a = 17
b = 17.0

In [60]:
print(a == b) # 확인 요망!

False

In [61]:
result = 2 ** 3 * 3 + 4 / 2 - 5
print(result)

21.0

# 퀴즈

In [62]:
#1번
a = 100
print((a > 100) and (a < 200)) # a > 100이 잘못됨
print((a > 100) or (a < 200)) # o
print((a >= 100) and (a <= 200)) # o
print((a >= 100) or (a <= 200)) # o

False
True
True
True

In [63]:
#2번
b = 25
print((b % 2 == 0) and (b % 5 == 0))

False

In [65]:
#3번 100원 거스름돈

c = 1000
c // 100

10

In [66]:
#4번 (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
#1. 금액을 입력 받는다. Or 금액에 대한 변수 필요
#2. 5000부터 100까지 거스름돈을 어떻게 줄지 생각해본다.
#3. 결론적으로 모든 거스름돈을 출력해서 -> (서비스) 캐셔 지폐교환기 -> 돈을 거슬러주면

money = int(input("거스름돈을 출력하세요"))

거스름돈을 출력하세요9980

In [67]:
print(money)

9980

In [68]:
# 5000원 지폐 개수 개산!
# 5000으로 나눠서 나눗셈된 값(몫) -> 5000원권 얼마나 거슬러 줘야하는가?
num_5000 = money // 5000

In [69]:
print(num_5000)

1

In [70]:
money -= (num_5000 * 5000)

In [71]:
print(money)

4980

In [72]:
num_1000 = money // 1000
money -= (num_1000 * 1000)

In [73]:
print(num_1000, money)

4 980

In [74]:
num_500 = money // 500
money -= (num_500 * 500)

In [75]:
print(num_500, money)

1 480

In [76]:
num_100 = money // 100
money -= (num_100 * 100)
print(num_100, money)

4 80

In [77]:
num_10 = money // 10
money -= (num_10 * 10)
print(num_10, money)

8 0

In [82]:
print(f"5000원의 개수는 ",num_5000,"개 입니다.") #9,980원
print(f"5000원의 개수는 {num_5000} 개 입니다.") #9,980원

5000원의 개수는  1 개 입니다.
5000원의 개수는 1 개 입니다.

## 실습 2

1. **사용자 입력 받기**:
    - **`input()`** 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. **문자열을 숫자로 변환**:
    - 입력받은 원가와 할인율을 각각 **`float()`** 함수를 사용하여 실수로 변환합니다.
3. **할인된 가격 계산**:
    - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. **결과 출력**:
    - 계산된 할인된 가격을 **`print()`** 함수를 사용하여 출력합니다.

In [83]:
# Step1: 제품의 원가와 할인율 입력 받기 #28개
original_price = float(input("제품의 원가를 입력하세요")) # input -> 문자열 계산을 위해서 소수형/정수형
discount_rate = float(input("제품의 할인율을 입력하세요"))

제품의 원가를 입력하세요10000
제품의 할인율을 입력하세요10

In [84]:
print(original_price, discount_rate)

10000.0 10.0

In [85]:
# Step2: 할인된 가격 계산 #28개
discounted_price = original_price - (original_price * discount_rate/100) # 10000.0 - (10000.0 * 10.0/100->0.1) -> (1000.0)

In [86]:
print(discounted_price)

9000.0

In [89]:
# Step3: 결과 출력 #28개
print(f'할인된 가격은 {int(discounted_price)} 원 입니다.')

할인된 가격은 9000 원 입니다.

단계별 가이드
* 사용자 입력 받기:
-- input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
* 문자열을 숫자로 변환:
-- 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
* 산술 연산 수행:
-- 변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
* 문자열 길이 계산:
-- len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
* 성인 여부 판단:
-- 나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 -- 이상이면 True, 그렇지 않으면 False)
* 결과 출력:
-- 계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [95]:
# Step 1
name = input("이름을 입력해주세요")
age = input("나이를 입력해주세요")
# Step 2
age = int(age)

이름을 입력해주세요김진환
나이를 입력해주세요100

In [96]:
# Step 3
next_year_age = age + 1 # 덧셈

In [98]:
# Step 4
name_length = len(name)

In [100]:
# Step 5
is_adult =  age >= 18     #비교 연산자

In [102]:
# Step 6
print(f'제 이름은 {name} 입니다.')
print(f'제 나이는 {next_year_age}입니다. 작년에는 {age} 였습니다.')
print(f'성인여부는 {is_adult}입니다.')

제 이름은 김진환 입니다.
제 나이는 101입니다. 작년에는 100 였습니다.
성인여부는 True입니다.

# Chat GPT가 우리한테 주는 영향?!

* 코드를 생성하는 역할
* 업무 자동화
* 글도 쓸수 있고
* 이미지도 생성
* 음악도 만들 수 있다.

-------

저는 최근에 데이터분석 외에 AI디자이너
미드저니 -> 로고/디자인작업

1.
2.
3.