In [ ]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b = a

print(id(a))
print(id(b))

10
10
132482025177616
132482025177616

In [ ]:
# -5부터 256은 같습니다.
a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)


a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

132482025177616
132482025177616
True
132480755317392
132480755317296
False

In [ ]:
0.1 + 0.2 # 0.1이 2진수로 표현했을 때 무한소수입니다.

0.30000000000000004

In [ ]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든지 한 줄로 할려고 하는 분 만나는데
# 이거 안좋은 습관입니다.

print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world')

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [ ]:
# 질문: 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하시면 제가 Reject합니다.

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

# 허용함
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

SyntaxError: invalid syntax (<ipython-input-27-850e90d2bc58>, line 29)

In [ ]:
# 문자열 메서드
dir('hello world') # 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

# 문제1: find와 index 차이
# 실무에서 사용하는 코드:

if 'hello world'.find('hi'): # 실무에서 자주 나오는 오류! 이렇게 코딩하시면 안됩니다.
    print('찾았다!')

# 문제2 isdigit의 정체
'123'.isdigit()
'12h3'.isdigit()

# 문제3 replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi') # 모두 다 변환이 됩니다. 몇 개만 변환이 되는 것이 아닙니다.
# 알아두셔야 할 사항: replace는 정규표현식이 안됩니다!
# replace를 정규표현식을 사용하고 싶으면 re.sub를 사용해야 합니다.

# 문제4 strip(공백제거)
# 문제5 zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼, 시간이나 연도)

찾았다!

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트
* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)

In [ ]:
l = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하시길 권합니다.
# 권고1
l = [10,
     20,
     30] # 됩니다!

l = [
    10,
    20,
    30
] # 됩니다!

# 권고2 (이렇게 실무에서 더 많이 사용합니다.)
l = [
    10,
    20,
    30,
]
# 문제가 있습니다! 통신을 할 때에는 JSON이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않습니다!

# why? 문제가 있는 2번이 더 많이 사용되는 이유?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다.
# 편의성: Ctrl + C, Ctrl + V하기가 편합니다.
# 자동 변환 SW를 사용합니다.(python black formatter) => 권고!!!

In [ ]:
l = [10, 20, 30]
l[2]

30

In [ ]:
# str은 안됩니다!
s = 'hello world'
# s[0] = 'y'

print(s.replace('h', 'y'))
print(s)

yello world
hello world

In [ ]:
# 정답1
s = s.replace('h', 'y')

# 정답2
s = 'y' + s[1:] # 신경써야 하나요? black formatter에서 자동으로 해줍니다. 나중에는 익숙해지니 너무 걱정하지 마세요.

In [ ]:
l = [10, 20, 30]
l[2] = 1000
print(l)

[10, 20, 1000]

In [ ]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다.
l[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

In [ ]:
# __add__가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__이 있으니 곱하기는 어디까지 될까? => 테스트

l = [10, 20, 30]
# l + 100 # 정수 더하기는 안됩니다!
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 됩니다!
# l * [1, 2] # 리스트 곱하기는 안됩니다.

In [ ]:
l = [1, 2, 3] * 3
l[1] = 1000
l

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 곱하기는 매우 주의해야 합니다!
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
l[1][1] = 10000
l

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해주세요.
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [ ]:
x = [[1, 2], [3, 4], [5, 6]]
x[1]
x[1][1]

4

In [ ]:
# Ctrl + Alt + 화살표 위나 아래, `print(` 입력했고, end버튼 눌렀고, `)` 입력했습니다.
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [ ]:
x = 10

# 다르다는 것만 인지해주세요!
# print를 하는 것과 맨 마지막 출력하는 것은 다릅니다!
print(x) # __str__
x # __repr__

In [ ]:
# Python > 자료형 > list > 메서드

l = [10, 20, 30]
dir(l)

# Shift + Tab
# Ctrl + [, Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [ ]:
l.append(100)
l

[10, 20, 30, 100]

In [ ]:
# 앞에다 넣는 방법 1
l = [1000] + l

# 앞에다 넣는 방법 2
x = 10000
l = [x] + l[:]

# 앞에다 넣는 방법 3
l.insert(0, 999)
l

[999, 10000, 1000, 10, 20, 30, 100]

In [ ]:
l = [10, 20, 30, 40]
l.pop() # 뒤에서 값을 꺼내는 방법
l

[10, 20, 30]

In [ ]:
l = [10, 20, 30, 40]
l.pop(0) # 앞에서 값을 꺼내는 방법
l

[20, 30, 40]

In [ ]:
l = [10, 20, 30, 40]
l[:-1] # l = l[:-1]
l[1:] # l = l[1:]

[20, 30, 40]

In [ ]:
l = [10, 20, 30, 40]
l.index(20)

In [ ]:
# keep
# index가 애러가 납니다. error 없이 코드를 짜고 싶어요.
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 애러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [ ]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

id(l), id(ll)
l is ll

True

In [ ]:
l = [10, 20, 30, 40]
ll = l.copy() # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
ll

id(l), id(ll)
l is ll
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [ ]:
l = [10, 20, 30, 40]
ll = l[:] # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [ ]:
l = [1, 1, 1, 2, 2, 2, 3, 3]
l.count(1)

3

In [ ]:
l = ['1', '1', 1, 2, 2, 2, 3, 3]
l.count(1)

1

In [ ]:
# 분위기 환기차 해드리는 것입니다.
# 이해하지 못하셔도 괜찮습니다.
# https://codingdojang.com/scode/393?answer_mode=hide
str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')
# str(1부터_10000까지_리스트).count('8')
list(range(10))
str(list(range(20)))
str(list(range(20))).count('8')

2

In [ ]:
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [ ]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 이것만 기억하셔도 좋습니다. 이렇게 많이 사용합니다.
l

[10, 20, 30, 40, [50, 60]]

In [ ]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
l.remove(1) # 한가지 요소를 지울 때 사용
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [ ]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 filtering하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다!
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 역정렬은 아닙니다. # 원본이 변합니다.(입력된 원본은 대부분 보존하려 노력합니다.)

# 역순은 단순히 순서를 뒤집는 것이고
# 역 정렬은 정렬의 역순입니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
# reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) # reversed는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l # 원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l # 원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# sorted는 잊으셔도 됩니다. l.sort만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l) # sorted 원본을 변경하지 않습니다.

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# sort, sorted, reverse, reversed 알고리즘 문제에서도 1개 문제는 거의 나온다고 보시면 됩니다.
# 옵션 값은 하지 않았습니다.
# 옵션 값을 하지 않은 이유 : 함수까지는 배우셔야 좀 더 고급 문법이 가능합니다.

In [ ]:
# 어떻게 사용되는지만 체크! (뒤에서 다시 하겠습니다.)
# 국어 점수가 가장 높은 순으로 정렬해주세요.
# 국, 영, 수, 이름
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [ ]:
# 평균 점수가 가장 높은 순으로 정렬해주세요.
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]

# 튜플
* 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
* 참조 변경 불가입니다.(값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다.)

In [100]:
t = (10, 20, 30) # 소괄호

In [101]:
t[0]

10

In [102]:
t[1:]

(20, 30)

In [ ]:
t[0] = 1000

In [105]:
# 1번째 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료형(딕셔너리와 같은 것)

# 2번째 변경이 불가능한데 왜 '값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다'라고 얘기하셨나요?
a = [10, 20, 30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [106]:
a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [ ]:
t = (10, 20, 30)
dir(t)

'count'
'index'

In [ ]:
t.count(10) # 10의 갯수를 반환
t.index(10) # 10의 위치를 반환

In [108]:
tuple([10, 20, 30])

(10, 20, 30)

In [110]:
# tuple(순회가능한객체)
# list(순회가능한객체)

tuple('hello world')
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# 딕셔너리

* Python 3.6 버전 이상은 순서가 보장됩니다.
* 실무에서 사용하는 Python 버전은 생각보다 낮습니다. 이점 주의해주세요.
* 'key: value' 쌍으로 이뤄져 있습니다.
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [111]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [ ]:
d['three'] # error

In [114]:
d.get('three') # get 메서드를 사용하시길 권합니다!

In [115]:
d.get('three', '없는 값입니다!') # get 메서드를 사용하시길 권합니다!

'없는 값입니다!'

In [116]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [117]:
x = 3

{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}.get(x, '요일없음')

'수요일'

In [ ]:
# match 문법이 나오기 전까지 많이 사용했었습니다.
# 지금도 많이 사용하는 문법입니다.
# match 문법은 이런 문법이 있는지 모르시는 시니어 분들도 많습니다.

x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

In [118]:
!python --version

Python 3.10.12

In [119]:
type(d)
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!',
    'author': '이호준',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [120]:
d = {'one': '하나', 'two': '둘'}

In [121]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [123]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [126]:
# 자주 사용하지 않습니다.

d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [129]:
# 매우 자주 사용하고 권고합니다.
d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [130]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [131]:
d = {'one': '하나', 'two': '둘'}
type(d.items())

dict_items

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()[0] # error
d.items()[1:] # error

In [136]:
a, b = d.items() # 언패킹
a
b

('two', '둘')

In [138]:
a, b = [10, 20]
a

10

In [139]:
# keep만 해두세요. 반복문을 안배웠습니다.
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [141]:
d.keys()
d.values()

dict_values(['하나', '둘'])

In [146]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four', 4) # 있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줘!

4

In [150]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.pop() # error
d.pop('three') # error
d

In [153]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실겁니다.

('two', '둘')

In [154]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three':'hello'}) # one은 수정이 되었고 three는 생성이 되었습니다.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [156]:
# 신규문법!!(3.9 version)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd
d | dd # 책 사서 보셔도 잘 안나오는 문법입니다.

{'one': '하나', 'two': '둘', 'three': '셋'}

In [157]:
d = {'one': '하나', 'two': '둘'}
dd = {'one':'python', 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형입니다.
* 순서가 없는 자료형입니다.
* 집합(합집합, 차집합, 교집합)

In [161]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss # error
s | ss # 합집합
s - ss # 차집합
s & ss # 교집합

{3, 4, 5}

In [163]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [ ]:
type(s), dir(s)

In [164]:
s.difference(ss) # 차집합

{1, 2, 10}

In [165]:
s.intersection(ss) # 교집합

{3, 4, 5}

In [166]:
s.union(ss) # 합집합

{1, 2, 3, 4, 5, 6, 7, 10}

In [167]:
set('123123123')

{'1', '2', '3'}

In [169]:
sum([1, 2, 3])

6

In [170]:
sum({10, 20, 30})

60

In [168]:
# map은 너무나 중요해서 반복해서 해드릴텐데
# 중복 제거한 값을 더하는 용도로 아래와 같이 사용하는 코드를
# keep
sum(map(int, set('123123123')))

6

In [171]:
map(int, set('123123123'))
# {'1', '2', '3'} => {1, 2, 3}

# sum

In [172]:
sum({10, 20, 30})

60

In [ ]:
sum(10, 20, 30) # error

In [ ]:
sum([[10, 20], [10, 20], [10, 20]]) # error

In [175]:
# sum(순회가능한객체, 초깃값)
sum([10, 20, 30], 100)

160

In [176]:
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화 작업
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

In [178]:
 sum(sum([[10, 20], [30, 40], [50, 60]], []))

210

# in

In [179]:
'h' in 'hello'

True

In [180]:
x = 10
x in [10, 20, 30, 40, 50]

True

In [181]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]]

True

In [182]:
s = {1, 2, 3}
1 in s

True

In [ ]:
s = {1, 2, 3}
1 not in s

# and, or, not 단락평가

In [184]:
1 and 100

100

In [185]:
user_id = ''

user_id = user_id or '아이디 없음'
user_id

'아이디 없음'

In [186]:
user_id = 'leehojun'

user_id = user_id or '아이디 없음'
user_id

'leehojun'

In [187]:
False and 1/0

False

In [188]:
1/0

ZeroDivisionError: division by zero